/* Mobile first design */

/* custom properties */

:root {
    --clr-neutral-800: hsl(234, 29%, 20%);
    --clr-neutral-700: hsl(235, 18%, 26%);
    --clr-neutral-200: hsl(231, 7%, 60%);
    --clr-neutral-100: hsl(0, 0%, 100%);

    --clr-accent-400: hsl(4, 100%, 67%);
    --clr-accent-500: hsl(347, 100%, 66%);

    --ff-base: Roboto, sans-serif ;
    --fw-regular: 400;
    --fw-bold: 700;

    --fs-400: 1rem;
    --fs-900: 2.5rem;

}


/* attribution */

.attribution {
    display: none;
    font-size: 11px; text-align: center; 
}
.attribution a {
    color: hsl(228, 45%, 44%); 
}



/* Tablet */

/* Desktop */